<h1 class="text-center">Flame</h1>

<hr>

<ul class="nav nav-pills">
  <li role="presentation" class=<%= 'active' if current_page?(flame_show_path) %>>
    <a href="#">Flame</a>
  </li>
  <li role="presentation" class="pull-right">
    <a class="button" href='/downloads/flame' role="button" aria-expanded="false">
      Download Flame
    </a>
  </li>
</ul>

<br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Installing Flame
    </h3>
  </div>
  <div class="panel-body">
    <p><strong>Flame</strong> is the custom build and launcher for Minecraft. You cannot log into <strong>Blaze</strong> without it.</p>
    <blockquote>
      <p><strong>The download of <strong>Flame</strong> is customized to you, Alec! Do not share it with anyone.</strong></p>
    </blockquote>
    <h3 id="installing-flame">Installing <strong>Flame</strong></h3>
    <ul>
      <li>Download and install Java 6 from
        <a href="http://www.oracle.com/technetwork/java/javase/downloads/java-archive-downloads-javase6-419409.html#jre-6u45-oth-JPR">here</a>.</li>
      <li>Download your copy of <strong>Flame</strong></li>
    </ul>
    <p>Yep, it&#39;s that simple, you&#39;re welcome.</p>
    <h3 id="running-flame">Running Flame</h3>
    <p>TODO: Finish this up</p>
  </div>
</div>