<h1 class="text-center white">Flame</h1>

<hr>

<ul class="nav nav-pills">
  <li role="presentation" class="pull-right">
    <button id="downloadButton" class="btn btn-primary data-no-turbolink">
      Download Flame
    </button>
  </li>
</ul>

<br>

<div class="row">
  <div class="col-md-4">
    <img height="300" width="300" src=<%=asset_path('MinecraftCreeper.png')%> />
  </div>
  <div class="col-md-8 white" style="background-color: rgba(0, 0, 0, 0.22);">
    <h3>What is Flame?</h3>
    <p>Scorch relies on a heavily modified Minecraft client and server. Flame is a custom resource-resolver and launcher for Minecraft, making setup turn-key. It is very important to note that <strong>this download of Flame is customized to you, <%= "#{sessionGetUser.firstName} #{sessionGetUser.lastName}" %>. Do not share it with anyone.</strong></p>
    <h3>Installing Flame</h3>
    <ul>
      <li>Download and install Java 6 from
        <strong><a href="http://www.oracle.com/technetwork/java/javase/downloads/java-archive-downloads-javase6-419409.html#jre-6u45-oth-JPR">here</a></strong></li>
      <li>Download your copy of Flame and extract it to it's final resting place</li>
    </ul>
    <h3>Running Flame</h3>
    <ul>
      <li>Open a Shell / Command Prompt</li>
      <li>Change directories to where you extracted Flame</li>
      <li>Run <i>java -jar FlameLauncher.jar</i></li>
    </ul>
  </div>
</div>