<!--Render Each Level-->
<% @levels.each do |level| %>
    <div style="text-align: center;">
      <h3><%= level.levelDescription.name %></h3>
      <h4>Level: <%= level.levelDescription.levelNumber %> | Points: <%= "#{level.userLevel.points} / #{level.levelDescription.points}" %></h4>
      <br>
    </div>
    <%= raw level.levelDescription.markdown %>
    <br>
    <br>
    <hr>
<% end %>