<% @levels.each do |level| %>
    <div style="margin-top: 30px; margin-left: 15px; margin-right: 15px;">
      <div style='margin-left: 10px; margin-right: 10px;'>

        <a href="#">
          <h4><b><%= level.levelDescription.name %></b></h4>
          <p style='color: red;'>Points: <%= "#{level.userLevel.points} / #{level.levelDescription.points}" %></p>
        </a>

        <div style='margin-left: 20px; background-color:#000000;'>
          <a href="#" style='margin-left: 10px; color:white;'>Python</a>
        </div>
        <div style='margin-left: 20px;'>
          <a href="#" style='margin-left: 10px;'>C++</a>
        </div>
        <div style='margin-left: 20px;'>
          <a href="#" style='margin-left: 10px;'>C#</a>
        </div>
      </div>
      <hr>
    </div>
<% end %>