<img style="width: 300px;" src=<%= asset_path('OtherOS/LinuxIcon.png') %> />
<p>Sadly Scorch does not actively support any other platforms.</p>

<br>
<br>
<h3>What gives? Where is my Linux?</h3>
<p>Linux is a wonderful platform filled with wonders and frustrations. Unfortunately supporting Linux and <i>[Inset your obscure OS here]</i> means supporting a very wide range of kernels, builds, compilers, editors and so on. Scorch is fully open source and anyone is welcome to take a crack at compiling Anvil on their platform of choice. Scorch cannot provide help with such endeavors so this challenge is not for the novice.</p>

<br>
<br>
<h3>Were is the source, I got this!</h3>
<p>All source code is hosted on Github.com</p>
<br>
<form action='https://github.com/AThilenius/Scorch'>
  <button class="btn btn-default" style="width: 200px;">
    Scorch Source Code
  </button>
</form>
<br>
<form action='https://github.com/AThilenius/Forge'>
  <button class="btn btn-default" style="width: 200px;">
    Forge Source Code
  </button>
</form>

<br>
<br>
<h3>I did it! Compiled and running!</h3>
<p>If you wish to actively support another platform please contact Alec@Thielnius.com and we can discuss if it makes sense to add it to Forge.</p>

<br>
<br>