<div data-async-url="<%= anvil_assignment_list_url %>">
  <div style="text-align: center">
    <img style="max-width: 100px; margin-top: 100px; margin-bottom: 100px;" alt="Loading" src=<%= asset_path('Loading.gif') %> />
  </div>
</div>