<% content_for :for_head do %>
    <div id="flameHeader">
      <span id="dummySpan"></span>
      <div id="label">Anvil</div>
    </div>
<% end %>

<br>

<div class="well" style="text-align: center">
  To all you brave Alpha testers, I appreciate your help immensely! If you have ANY problems that block you from completing the assignment please email me at Alec@Thilenius.com. I am more than happy to help over email or meet in person. My schedule is very flexible and I can make almost any time work.
</div>

<br>

<div>
  <%= render 'getting_started' %>
</div>