<% content_for :for_head do %>
    <div id="flameHeader">
      <span id="dummySpan"></span>
      <div id="label">Anvil</div>
    </div>
<% end %>

<br>
<br>

<div style="text-align: center">
  <h2>Anvil Assignments are still being created for Python. Please be patient.</h2>
</div>

<br>