[Unit]
Description=The Mongodb database %i etcd registration

# Requirements
Requires=etcd.service
Requires=mongodb@%i.service

# Dependency ordering and binding
After=etcd.service
After=mongodb@%i.service
BindsTo=mongodb@%i.service


[Service]
EnvironmentFile=/etc/environment

# Start
## Test whether service is accessible and then register useful information
ExecStart=/bin/bash -c '\
  while true; do \
     etcdctl set /services/mongodb/${COREOS_PRIVATE_IPV4} \'${COREOS_PRIVATE_IPV4}:5010\' --ttl 30; \
    sleep 20; \
  done'

# Stop
ExecStop=/usr/bin/etcdctl rm /services/mongodb/${COREOS_PRIVATE_IPV4}


[X-Fleet]
# Schedule on the same machine as the associated Nginx service
MachineOf=mongodb@%i.service