[Unit]
Description=The Nginx web load balancer and proxy %i

# Requirements
Requires=etcd.service
Requires=docker.service
Requires=nginx-discovery@%i.service

# Dependency ordering
After=etcd.service
After=docker.service
Before=nginx-discovery@%i.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill nginx.%i
ExecStartPre=-/usr/bin/docker rm nginx.%i
ExecStartPre=/usr/bin/docker pull athilenius/nginx
ExecStart=/bin/bash -c -l "/usr/bin/docker run --rm --name nginx.%i -p 80:80 -p 443:443 -v /home/core/certs:/home/core/certs \
-e APP_DB_HOST=$(etcdctl get /db/host) \
-e APP_DB_DATABASE=$(etcdctl get /db/database) \
-e APP_DB_PORT=$(etcdctl get /db/port) \
-e APP_DB_USERNAME=admin \
-e APP_DB_PASSWORD=012bb0acb92d \
athilenius/nginx"

# Stop
ExecStop=/usr/bin/docker kill nginx.%i
ExecStopPost=/usr/bin/docker rm nginx.%i

[X-Fleet]
Conflicts=nginx@*.service