
<form role="form-signin" action="session_login">
	<div class="thinWindow">
		<h3 class="text-center"> Forge Sign In </h3>
		<hr></hr>
		<div class="form-group">
			<label for="username">User Name</label>
			<input class="form-control" type="username" name="username" placeholder="User Name">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input class="form-control" type="password" name="password" placeholder="Password">
		</div>
		<button type="submit" class="btn btn-default btn-primary autoWidth">Sign In</button>
		<hr></hr>
	</div>
</form>
<div class="thinWindow">
	<p class="small text-center">Forge, your portal to Scorch</p>
</div>