<form role="form-signin" action="password_change">
	<div class="thinWindow">
		<h3 class="text-center"> Change Password </h3>
		<hr>
		<div class="form-group">
			<label for="exampleInputPassword1">Current Password</label>
			<input class="form-control" type="password" name="password" placeholder="Curernt Password">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">New Password</label>
			<input class="form-control" type="password" name="newPasswordOne" placeholder="New Password">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Retype New Password</label>
			<input class="form-control" type="password" name="newPasswordTwo" placeholder="New Password">
		</div>
		<button type="submit" class="btn btn-default btn-primary autoWidth">Change</button>
		<hr></hr>
	</div>
</form>
<div class="thinWindow">
	<p class="small text-center">Please choose a secure password.</p>
</div>