<!--%h3.up5 Create Review-->
<!--%form{role: "form", action: "/reviews", method: "post"}-->
<!--.form-group-->
<!--%input.form-control{placeholder: "Review Title", name: "title"}-->
<!--.form-group-->
<!--%textarea.form-control{rows: "5", placeholder: "Full User Review. Please be objective and constructive.", name: "description"}-->
<!--%input{:type=>"hidden", :value => @charity.id, :name => :charity}-->
<!--%button.btn.btn-large.btn-primary{type: "submit"} Create-->

<div class="well" style="background-color: rgba(0, 0, 0, 0.32);">
  <div id="postsBody" class="white">STUB</div>
  <hr>
  <div>
    <textarea id="textInput" rows="3" placeholder="CHAT TEST"></textarea>
    <br>
    <button id="postButton" class="btn btn-primary">Post</button>
  </div>
</div>