<div class="container">
  <!-- Example row of columns -->

	<h3>Known users:</h3>
	<% User.all.each do |user| %>
		<div class="well">
	  	<h4><%= "#{user.firstName} #{user.lastName}" %></h4>
	  	<p>Username: <%= user.key %></p>
	  	<p>Password: <%= user.password %></p>
		</div>
	<% end %>
</div>