<div class="jumbotron">
  <h1>Welcome to Forge!</h1>
  <p>Forge is the web frontend to Scorch. This is a development build and is not intended for production use.</p>
  <p><a class="btn btn-primary btn-lg" href=<%= login_path %> role="button">Sign in to Forge!</a></p>
</div>