<% content_for :for_head do %>
    <div id="flameHeader">
      <span id="dummySpan"></span>
      <div id="label">Scorch</div>
    </div>
<% end %>

<br>
<br>

<div style="text-align: center;">
  <p>Much education today is monumentally ineffective. All too often we are giving young people cut flowers when we should be teaching them to grow their own plants. <i>- John W. Gardner</i></p>
</div>

<br>
<br>

<div style="text-align: center">
  <div data-async-url="<%= home_page_landing_body_url %>">
    <img style="max-width: 100px; margin-top: 100px; margin-bottom: 100px;" alt="Loading" src=<%= asset_path('Loading.gif') %> />
  </div>
</div>