<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Assignments

      <div class="btn-group btn-group-xs pull-right">
        <a type="button" class="btn btn-default" href=<%=assignments_new_path%>>Add</a>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
          Filter
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Free</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Allocated</a></li>
        </ul>
      </div>

    </h3>

  </div>
  <div class="panel-body">

    <ul class="list-group">
      <% AssignmentDescription.find_each.each do |assignment| %>

          <a class="list-group-item" href=<%= assignment_path(assignment.id) %>>
            <%= assignment.name %>
          </a>

      <% end %>
    </ul>

  </div>
</div>