<form id="createForm" role="form-signin" action="create">
  <div class="thinWindow white">
    <h3 class="text-center"> New Assignment </h3>
    <hr>

    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" type="name" name="name" placeholder="Name">
    </div>

    <div class="form-group">
      <label for="descriptionMarkdown">Description Markdown</label>
      <textarea class="form-control" type="descriptionMarkdown" name="descriptionMarkdown" placeholder="Description Markdown"></textarea>
    </div>

    <div class="form-group">
      <label for="jarPath">Jar Path</label>
      <input class="form-control" type="jarPath" name="jarPath" placeholder="Jar Path">
    </div>

    <button type="submit" class="btn btn-default btn-primary autoWidth">Create</button>
    <hr>
  </div>
</form>
<div class="thinWindow">
  <p class="small text-center">Remember, don't add levels to the assignment markdown.</p>
</div>