// Place all the styles related to the Assignments controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heightX {
  heigh:10px;
}

div#anvilHeader {
  width:100%;
  height: 460px;
  background:url(asset-path('Anvil.jpg')) repeat-x 0 0;
  background-position: center center;
  text-align:center;
}

div#anvilHeader span#dummySpan{
  line-height:460px;
}

div#anvilHeader div#label {
  font-size: 200px;
  color: black;
  display:inline-block;
  vertical-align:middle;
}