div#flameHeader {
  width:100%;
  height: 460px;
  background:url(asset-path('BackgroundNoLabel.jpg')) repeat-x 0 0;
  background-position: center center;
  text-align:center;
}

div#flameHeader span#dummySpan{
  line-height:460px;
}

div#flameHeader div#label {
  font-size: 200px;
  color: black;
  display:inline-block;
  vertical-align:middle;
}